.wrapper {
    background-color: blue;
    width: 640px;
    height: 380px;
    display: flex;
    border: 2px solid rgb(253, 253, 253, 253);
    border-radius: 30px 30px 30px 30px;
}
.portrait-column {
    width: 40%;
    height: 100%;
    background-color: red;
}
.papay {
width: 100%;
    height: 100%;
}

.information-column {
    width: 60%;
    background-color: #2b3944;
    font-family: 'Roboto', serif;
    font-style: normal;
    border: 1px solid white;
}

.Name-information {
    height: 50%;
    background-color: #192028;
}

.John-Paul-II {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Roboto', serif;
    padding:10px;
}

.THE-POPE {
    width: 160px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 60;
    font-size: 20px;
    color: #6487a2;
    margin: 10px;
}

.contact-information {
    height: 50%;
    border: 2px rgb(253, 253, 253);
    background-color: #2B3944;
    border-top: 2px solid #ffffff;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
 .contact-row {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
    }

.tekst {
            display: flex;
            font-style: normal;
            font-family: 'Roboto', serif;
            font-size: 16px;
            line-height: 34px;
            width: 100%;
            color: white;
            margin-left: 20px;
            border-bottom: 1px solid white;

        }

        .ikona {
            height: 25px;
            width: 25px;
            display: flex;
            padding: 8px;
            padding-left:10px;
        }









